/*Starting of style for the product page */
body{
	background-image:url(../image/hhh.jpg);

background-repeat:no-repeat;
background-size:3000px;

}

/* Style for header section*/
header{
    position:fixed;
    z-index:1;
	background-image:url(../image/hhh1.jpg);
	height: 130px;
	width:100%;
	display:inline-block;
}
.logo{
	float:left;
}
.heading{
	height:100px;
	
	font-size:30px;
	text-align:center;
}
.first{
    font-family: 'Amita';
}
.content{
	position: relative;
	padding:25px;
	font-size: 25px;
	padding-top:0px;
	
	float:left;
	display:inline-block;

}
.content .home{
	text-decoration:none;
	font-family:'Berkshire Swash';
}

.home a{
	position: relative;
	padding:20px;
	font-size: 25px;
	padding-top:0px;
	float:left;
	display:inline-block;
	color:white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
   // box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-size: 20px;
	text-decoration: none;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.content:hover .dropdown-content {
    display: block;
}

.content:hover {
    background-color: grey;
}
.car{
padding-left:5px;
padding-right:5px;
font-family:'Amita';

}
.img{
width:210px;
height:200px;
}
/*Style for footer section */
.foot{
	height:100px;
	background-color:#CCCACF;
	text-align:center;
	font-family: 'Arial';
}
.foot1{
	padding-top:10px;
	height:60px;
	background-color:#CCCACF;
	text-align:center;
	font-family: 'Dancing Script', cursive;
	font-size:18px;
}
footer{
	
	background-color:#CCCACF;

	margin-top:10px;
	text-align:center;
	
}
